$border-dark: rgba(#035e80, 0.5);
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar {
    display: flex;
    
    padding: 20px;
    color: #131212;
    }
    .navbar-menu{
        width: 100%;
    }
   
    .navbar-header{
        width: 100%;
        text-align: center;
    }
    .margin-zero {
        margin: 0;
    }
    .text-center {
         text-align: center;
    }
    a {
        padding: 10px;
        color: #000000;
        text-decoration: none;
        font-size: 18px;
        border-radius: 5px;
    }
    a:hover{
        text-decoration: underline;
        background-color: $border-dark;
    }
    