<nav class="navbar is-dark">
   
    <div class="navbar-menu">
        <p class="margin-zero text-center text-bold"> Organization</p>
      <div class="navbar-start">
        <a class="navbar-item" aria-label="Add Department"  rel="noopener" routerLink="">Add Department</a>
        <a class="navbar-item" aria-label="Add Employee" routerLink="/add-employee">Add Employee</a>
        <a class="navbar-item" aria-label="Reports"  routerLink="/reports">Reports</a>
      </div>
    </div>
  </nav>
  

